
services:

  back-end:
    build:
      context: ./pet-back
      dockerfile: Dockerfile
    container_name: pet_api_backend
    restart: unless-stopped
    ports:
      - "8083:8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/petDB
      SPRING_DATASOURCE_USERNAME: petDB
      SPRING_DATASOURCE_PASSWORD: cWjxWoosUZxljCBmorNBAIpv4OX8VMWE
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin123
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
    networks:
      - pet-network


  postgres:
    image: postgres:16
    container_name: postgres_petdb
    restart: unless-stopped
    environment:
      POSTGRES_USER: petDB
      POSTGRES_PASSWORD: cWjxWoosUZxljCBmorNBAIpv4OX8VMWE
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U petDB"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - pet-network

  minio:
    image: minio/minio:latest
    container_name: minio_storage
    restart: unless-stopped
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    ports:
      - "9000:9000"  # API
      - "9001:9001"  # Console Web
    volumes:
      - ./minio-data:/data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - pet-network

networks:
  pet-network:
    driver: bridge